<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta
			name="description"
			content="Temukan ragam kuliner terbaik di kota Anda dengan EatExplorer, platform katalog restoran yang memudahkan Anda menjelajahi berbagai pilihan makanan lokal dan internasional. Temukan restoran favorit Anda hari ini."
		/>

		<link
			rel="shortcut icon"
			href="./images/logo-eatexlporer.svg"
			type="image/x-icon"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
			integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>

		<title>EatExplorer</title>
	</head>
	<body>
		<header class="header flex-row padding-x-content">
			<div class="header__logo-wrapper flex-row">
				<img
					src="./images/logo-eatexlporer.svg"
					alt="Logo EatExplorer"
					class="header__logo-img"
				/>
				<span class="header__logo-name text-2xl text-white">EatExplorer</span>
			</div>
			<button class="btn-humburger text-white" title="Menampilkan navbar">
				<i class="fa-solid fa-bars"></i>
			</button>
			<button class="btn-x-navbar text-white" title="Menutup navbar">
				<i class="fa-solid fa-xmark"></i>
			</button>
			<nav class="header__navbar">
				<ul class="header__navbar-wrapper">
					<li class="header__navbar-list">
						<a
							href="./index.html"
							class="header__navbar-link text-white"
							title="Navigasi ke halaman home"
							>Home</a
						>
					</li>
					<li class="header__navbar-list">
						<a
							href="./favorite.html"
							class="header__navbar-link text-white"
							title="Navigasi ke halaman Favorite"
							>Favorite</a
						>
					</li>
					<li class="header__navbar-list">
						<a
							href="https://www.linkedin.com/in/ridho-ahmad-fauzi/"
							class="header__navbar-link text-white"
							title="Navigasi ke linkedin Ridho Ahmad Fauzi"
							>About Us</a
						>
					</li>
				</ul>
			</nav>
		</header>

		<main>
			<section class="hero-detail-resto padding-x-content">
				<div class="hero-wrapper flex-col"></div>
			</section>
			<section class="section-detail-resto padding-x-content">
				<div class="detail-resto">
					<div class="detail-resto__img">
						<img src="./images/heros/hero-image_4.jpg" alt="Foto resto" />
					</div>
					<div class="detail-resto__info-wrapper">
						<div class="info-wrapper__navigasi flex-row text-navy">
							<a href="./index.html" class="text-navy">Home</a>
							<span class="">/</span>
							<p class="">Nama Resto</p>
						</div>
						<div class="info-wrapper__rating-info flex-row">
							<span class="rating-info-angka text-white bg-blue">4.2</span>
							<p class="rating-info-word text-blue">Very Good</p>
							<p class="review-resto text-navy">10k Review</p>
						</div>
						<div class="info-wrapper__profile-resto">
							<h1 class="text-navy text-2xl">Phone Cafe</h1>
							<h2 class="text-navy text-lg">Western Resto'</h2>
							<p class="text-navy">Bali</p>
							<hr />
						</div>
						<div class="info-wrapper__desc-n-menu text-navy">
							<p class="desc-n-menu__paragraph">
								Menyajikan berbagai hidangan lezat untuk dinikmati
							</p>
							<div class="desc-n-menu__drink text-navy">
								<h2 class="text-lg">Daftar Minuman</h2>
								<p>
									Air Mineral, Kopi Hitam, Teh Hijau, Jus Jeruk, Susu Cokelat,
									Es Teh Manis, Soda Jeruk, Teh Tarik, Cappuccino, Es Kopi Susu
								</p>
							</div>
							<div class="desc-n-menu__food text-navy">
								<h2 class="text-lg">Daftar Makanan</h2>
								<p>
									Nasi Goreng, Mie Goreng, Ayam Goreng, Sushi, Pizza, Bubur
									Ayam, Nasi Padang, Sate Ayam, Lasagna, Bakso.
								</p>
							</div>
							<hr />
						</div>
						<div class="info-wrapper__ulasan-pengguna text-navy">
							<h2 class="text-lg">Ulasan</h2>
							<div class="ulasan-pengguna__wrapper-ulasan-form">
								<article class="ulasan-pengguna__wrapper-ulasan">
									<div class="wrapper-ulasan__name-star-date flex-col">
										<span class="name-star flex-row">
											<h3 class="username-reviewer">Ridho Ahmad Fauzi</h3>
											<span class="stars text-yellow">
												<i class="fa-solid fa-star"></i>
												<i class="fa-solid fa-star"></i>
												<i class="fa-solid fa-star"></i>
												<i class="fa-solid fa-star"></i>
												<i class="fa-regular fa-star"></i>
											</span>
										</span>
										<span class="name-star-date__date flex-row">
											<p class="strip">-</p>
											<p class="date-ulasan">14 Agustus 2023</p>
										</span>
									</div>
									<div class="wrapper-ulasan__user-review text-navy">
										<p>
											Lorem ipsum dolor sit amet consectetur adipisicing elit.
											Omnis consequatur ducimus quia libero nostrum excepturi
											dolorem eveniet architecto eos praesentium.
										</p>
									</div>
								</article>
								<article class="ulasan-pengguna__wrapper-ulasan">
									<div class="wrapper-ulasan__name-star-date flex-col">
										<span class="name-star flex-row">
											<h3 class="username-reviewer">Ridho Ahmad Fauzi</h3>
											<span class="stars text-yellow">
												<i class="fa-solid fa-star"></i>
												<i class="fa-solid fa-star"></i>
												<i class="fa-solid fa-star"></i>
												<i class="fa-solid fa-star"></i>
												<i class="fa-regular fa-star"></i>
											</span>
										</span>
										<span class="name-star-date__date flex-row">
											<p class="strip">-</p>
											<p class="date-ulasan">14 Agustus 2023</p>
										</span>
									</div>
									<div class="wrapper-ulasan__user-review text-navy">
										<p>
											Lorem ipsum dolor sit amet consectetur adipisicing elit.
											Omnis consequatur ducimus quia libero nostrum excepturi
											dolorem eveniet architecto eos praesentium.
										</p>
									</div>
								</article>
							</div>
							<div class="ulasan-pengguna__wrapper-form">
								<form class="form-ulasan-user flex-col" action="#">
									<input
										type="text"
										id="input-username"
										class="text-navy"
										title="Form nama pemberi ulasan"
										placeholder="Masukan Username"
									/>
									<input
										type="text"
										class="text-navy"
										id="input-review-resto"
										title="Form mengisi ulasan"
										placeholder="Masukan Ulasan"
									/>
									<button
										type="submit"
										class="text-white"
										id="btn-submit-review"
										title="Button submit form ulasan"
									>
										Submit
									</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>

		<footer class="footer padding-x-content bg-navy flex-row">
			<div class="footer__profile-website flex-col">
				<div class="footer__logo-wrapper flex-row">
					<img
						src="./images/logo-eatexlporer.svg"
						alt="Logo EatExplorer"
						class="footer__logo-img"
					/>
					<span class="footer__logo-name text-2xl text-white">EatExplorer</span>
				</div>
				<p class="profile-website__description text-white">
					EatExplorer Membantu Pengguna Mencari Resto Terbaik
				</p>
				<div class="footer__wrapper-sosmed">
					<i class="fa-brands fa-instagram"></i>
					<i class="fa-brands fa-square-facebook"></i>
					<i class="fa-brands fa-twitter"></i>
					<i class="fa-brands fa-tiktok"></i>
				</div>
			</div>
			<div class="footer__perusahaan">
				<h2 class="text-xl text-white">Perusahaan</h2>
				<ul class="wrapper-list__perusahaan">
					<li>
						<a href="#" title="untuk pergi ke halaman About Us">About Us</a>
					</li>
					<li>
						<a href="#" title="untuk pergi ke halaman Terms">Terms</a>
					</li>
					<li>
						<a href="#" title="untuk pergi ke halaman Lisensi">Lisensi</a>
					</li>
				</ul>
			</div>
			<div class="footer__kontak-kami">
				<h2 class="text-xl text-white">Kontak Kami</h2>
				<ul class="wrapper-list__kontak-kami">
					<li>
						<a href="#" title="untuk pergi ke halaman Mitra">Mitra</a>
					</li>
					<li>
						<a href="#" title="untuk pergi ke halaman Kerja Sama">Kerja Sama</a>
					</li>
					<li>
						<a href="#" title="untuk pergi ke halaman Sponsor">Sponsor</a>
					</li>
					<li>
						<a href="#" title="untuk pergi ke halaman Pricing">Pricing</a>
					</li>
				</ul>
			</div>
			<div class="footer__ulasan flex-col">
				<h2 class="text-xl text-white">Berikan Ulasan Kamu</h2>
				<form
					class="form-ulasan flex-row"
					action="mailto:fauziridho38@gmail.com"
				>
					<input
						type="text"
						name="ulasan"
						id="ulasan"
						placeholder="Ulasan Kamu"
						title="Form mengisi ulasan website"
					/>
					<button
						type="submit"
						class="bg-pink text-white"
						title="Klik untuk submit ulasan"
					>
						Submit
					</button>
				</form>
			</div>
		</footer>
	</body>
</html>
